@model Expenses.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}
<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 11;">
    <!-- Toasts will be injected here by JavaScript -->
</div>


<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Bootstrap</strong>
            <small>11 mins ago</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Hello, world! This is a toast message.
            <div class="mt-2 pt-2 border-top">
                <button type="button" class="btn btn-primary btn-sm">Take action</button>
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="toast">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="gap-2">
    <div class="d-flex gap-2 mb-3">
        <div class="col-md-4">
            <div class="card text-white bg-success p-3 fs-4 text-center">
                <p class="card-title">Total Expenses: </p>
                <p class="card-title fw-bolder">@Model.TotalExpenses.ToString("C")</p>

            </div>
        </div>
        <div>
            <div class="d-flex flex-column gap-2">
                <a asp-action="Create" asp-controller="Expenses" class="btn btn-sm btn-primary d-flex align-items-center">
                    <span class="material-symbols-outlined me-1">
                        add
                    </span>
                    Expense
                </a>
                <a asp-action="Create" asp-controller="WishlistItems" class="btn btn-sm btn-primary d-flex align-items-center">
                    <span class="material-symbols-outlined me-1">
                        add
                    </span>
                    Wishlist Item
                </a>

            </div>

        </div>

        <div>
            <p class="d-inline-flex gap-1">
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Acompanhe as metas
                </button>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="row">

                    @foreach (var goal in Model.GoalProgress)
                    {
                        <div class="col">
                            <div class="card card-custom mb-3">
                                <div class="card-header">@goal.Category</div>
                                <div class="card-body">
                                    <h5 class="card-title">Target: @goal.TargetAmount.ToString("C")</h5>
                                    <p class="card-text">Spent: @goal.TotalSpent.ToString("C")</p>
                                    <p class="card-text">Difference: @goal.Difference.ToString("C")</p>
                                    @if (goal.Difference < 0)
                                    {
                                        <p class="text-danger">You are over budget!</p>
                                    }
                                    else
                                    {
                                        <p class="text-success">You are within budget.</p>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex bg-light gap-1">
        <div class="flex-fill card" style="width: 75%;">

            <h1 class="text-center">Expenses</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Value</th>
                        <th>Date</th>
                        <th>Category</th>
                        <th>Current Installment</th>
                        <th>Total Installments</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Expenses)
                    {
                        <tr>
                            <td>@item.Description</td>
                            <td>@item.Value.ToString("C")</td>
                            <td>@item.Date.ToShortDateString()</td>
                            <td>@item.Category</td>
                            <td>@item.CurrentInstallment</td>
                            <td>@item.Installments</td>
                            <td class="gap-2 d-flex flex-wrap">
                                @if (!item.IsPaidThisMonth)
                                {
                                    <form asp-action="MarkAsPaid" asp-controller="Expenses" method="post" style="display:inline;">
                                        <input type="hidden" name="id" value="@item.Id" />
                                        <button type="submit" class="btn btn-success btn-sm align-middle">
                                            <span class="material-symbols-outlined" style="font-size: 1rem;">paid</span>
                                            Pagar
                                        </button>
                                    </form>
                                }
                                <a asp-action="Edit" asp-controller="Expenses" asp-route-id="@item.Id" class="btn btn-warning btn-sm rounded-circle btn-icon">
                                    <span class="material-symbols-outlined text-white" style="font-size: 1rem;">edit_square</span>
                                </a>
                                <a asp-action="Details" asp-controller="Expenses" asp-route-id="@item.Id" class="btn btn-info btn-sm rounded-circle btn-icon">
                                    <span class="material-symbols-outlined text-white" style="font-size: 1rem;">info</span>
                                </a>
                                <a asp-action="Delete" asp-controller="Expenses" asp-route-id="@item.Id" class="btn btn-danger btn-sm rounded-circle btn-icon">
                                    <span class="material-symbols-outlined text-white" style="font-size: 1rem;">delete</span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="flex-fill card p-3" style="width: 25%;">

            <h3 class="text-center">Wishlist Items</h3>
            <table class="table" >
                <thead style="font-size: 1rem;">
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody style="font-size: 1rem;">
                    @foreach (var item in Model.WishlistItems)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Price?.ToString("C")</td>
                            <td>
                                @if (!item.IsPurchased)
                                {
                                    <form asp-action="MarkAsPurchased" asp-controller="WishlistItems" method="post" style="display:inline;">
                                        <input type="hidden" name="id" value="@item.Id" />
                                        <button type="submit" class="btn btn-success">
                                            <span class="material-symbols-outlined" style="font-size: 1rem;">paid</span>
                                        </button>
                                    </form>
                                }
                                <a asp-action="Edit" asp-controller="WishlistItems" asp-route-id="@item.Id" class="btn btn-warning">
                                    <span class="material-symbols-outlined text-white" style="font-size: 1rem;">edit_square</span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>
